@font-face
    font-family: 'RalewayLight'
    src: url('./fonts/Raleway/Raleway-Light.ttf') format('ttf')
    font-weight: normal
    font-style: normal

@font-face
    font-family: 'RalewayRegular'
    src: url('fonts/Raleway/Raleway-Regular.ttf') format('ttf')
    font-weight: normal
    font-style: normal

@font-face
    font-family: 'RalewayMedium'
    src: url('./fonts/Raleway/Raleway-Medium.ttf') format('ttf')
    font-weight: normal
    font-style: normal

@font-face
    font-family: 'RalewayBlack'
    src: url('./fonts/Raleway/Raleway-Black.ttf') format('ttf')
    font-weight: 900
    font-style: normal
